*{
  margin: 0%;
  padding: 0%;
  background-image: linear-gradient(to top, #fdcbf128 0%, #fdcbf12a 1%, #e6dee924 100%);
}

.logo{
  text-align: center;
  
}
#logo-principal{
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 0;
  justify-content: center;
}
body{ 
  background-image:url(/img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;      
}

footer{
  text-align: center;  
  margin: 0%;
  padding: 0%;
}
#creditos{
  background-color: aliceblue;  
  justify-content: center;
  display: inline-block;
}