body{ 
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}



#logo-principal{
  float: inline-start;
  width: 100px;
  height: 100px; 
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: ;
  border-radius: 1000px;
}
#menu{
  background: black;
  background-color: black;
  text-align: center;
}
.nav-item{  
  margin:10vh;
  margin-top:40px;
  margin-bottom: 10px;

}
a:hover {
 color: black;
 background-color:rgb(230, 115, 134); 
}
a:active {
  color:black;
 background-color:rgb(230, 115, 134);
}
.carrito-icon{
  margin-left: 48vh;
  margin-top: 35px;
  max-width: 60px;
  max-height: 60px;
}
.carrito-icon:hover{
  background-color:rgb(230, 115, 134);
}
#dropdown-item:hover{
  background-color:rgb(230, 115, 134);
}
.hero{
  margin-bottom: 0;
  padding-bottom: 0;
}
.hero img{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  clip-path: inset(0 0 20% 0);
}
a{
  text-decoration: none;
}

.carrusel{}
.carrusel.grande{}
.carrusel.img{}
.carrusel.puntos{}
.carrusel.punto{}




footer{
  text-align: center;  
  margin: 0%;
  padding: 0%;
}
#creditos{
  color: white;
  margin-top: 50px;
  padding: 5px;
  background-color: gray; 
  opacity: 1; 
  justify-content: center;
  display: inline-block;
  font-size: medium;
}
