@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}
.btn{
  font-size: 20px;
  border: 1px solid black;
  color: black;
  background-color: pink;
}
.btn:hover{
  border:none;
  background-color: black;
}

/*NAV*/
nav{
  background-color: pink;
}
.navbar a{
  font-weight: 600;
  font-size: 20px;
}
/*NAV*/

/*CARRUSEL*/
.carousel-item{
  min-height: 400px;
  max-height:1200px;
  object-fit: cover;
}
.carousel-caption{
  bottom: 22px;
  z-index: 2;
}
/*CARRUSEL*/

/*BOX ICONS*/
.box-icons img{
  width: 10%;
}
.box-icons h3{
  font-size: 25px;
  font-weight: 800;
}
/*BOX ICONS*/

/*TARJETAS GIGANTES*/
.services{
  padding: 80px 0;  
}
.card-body{
  border-radius: 10px;
  height: 400px;
}
.bg-card1{
 height: 100%;
 background-image:url(/img/card1.jpg);
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
.bg-card1:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card1.jpg);
}

.bg-card2{
  background-image:url(/img/card2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .bg-card2:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card2.jpg);
}

 .bg-card3{
  background-image:url(/img/card3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .bg-card3:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card3.jpg);
}

 .bg-card4{
  background-image:url(/img/card4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .bg-card4:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card4.jpg);
}
 .bg-card5{
  background-image:url(/img/card5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .bg-card5:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card5.jpg);
}
 .bg-card6{
  background-image:linear-gradient(rgba(0, 0, 0, 0.221),rgba(0, 0, 0, 0.113)),url(/img/card6.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .bg-card6:hover{
  background-image: linear-gradient(to top, #ff9a9d6d 0%, #fecfef5a 99%, #fecfef64 100%),url(/img/card6.jpg);
}
/*TARJETAS GIGANTES*/

/*CARDS*/
.product{
  padding: 80px 0;
}
.card-prd{
  height: 600px;
}

.card-prd img{
  border-radius: 10px;
  width: 300px;  
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
/*CARDS*/
/*BANNER*/
.banner{
  padding: 50px 0;
  margin-bottom: 80px;
  background-color: rgba(255, 122, 175, 0.858);
}
.banner h2{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
.banner img{
  width: 500px;
  border-radius: 20px;
}
/*BANNER*/

@media (max-width:767px) {
  .carousel-item{
    min-height: 500px;
  }
  .carousel-item img{
    height: 500px;
    object-fit: cover;
  }
  .services{
    padding: 30px 0;
  }
  .product{
    padding: 30px 0;
  }
  .banner{
    margin-bottom:30px ;
  }
}